
<div id="main">
    <h1>Hello</h1>
    <form>
        <div>
            <label>Date</label>
            <input />
        </div>
        <div>
            <label>Location</label>
            <input />
        </div>
        <div><input type="submit" value="add" /></div>
    </form>
</div>